body {
    background:#f2f4f3;
}


h1{
    color: #F34D43;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;

}

p {
    color: #004461;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.introduction {
    background: #63f2c0;
}

.chp {
    background : #F34D43 ;
}